.*
!/.gitignore
intermediary/*
shipped/
source_snapshots/
test/
tmp/
**/Screenshots/
*.ilk
*.exp
molflow.cfg

bin/*

lib/linux/
lib/win/release/clipper*
lib/win/release/nativefiledialog*
lib/win/release/png_zlib_win_library*
lib/win/release/pugixml*
lib/win/release/sdl_savepng*
lib/win/release/truncatedgaussian*

lib/win/debug/clipper*
lib/win/debug/nativefiledialog*
lib/win/debug/png_zlib_win_library*
lib/win/debug/pugixml*
lib/win/debug/sdl_savepng*
lib/win/debug/truncatedgaussian*