#blacklist all hidden files (start with . )but the root .gitignore

.*
!/.gitignore

# blacklist folders

intermediary/*
shipped/
source_snapshots/
test/
tmp/
CMake/cmake-*

# Ignore cmake generated directories and files.
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake

!/additional_libraries/**/Makefile
**/Screenshots/
*.ilk
*.exp
*.bak
*.obsolete

molflow.cfg

# 
bin/
lib/


**/venv