#blacklist all hidden files (start with . )but the root .gitignore

.*
!/.gitignore

# blacklist folders

/*/
build*/

intermediary/*
shipped/
source_snapshots/
test/
tmp/
CMake/cmake-*

!source
!precomp_obj
!molflow_tests
!lib_external
!include
!screens
!build_mac
!copy_to_build
!additional_libraries
!Visual_Studio
!MolflowGUIElements
!CMake

# Ignore cmake generated directories and files.
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
**/CMakeCache.txt

!/additional_libraries/**/Makefile
**/Screenshots/
*.ilk
*.exp
*.bak
*.obsolete

molflow.cfg

# 
bin/
lib/


**/venv